[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg = {extras = ["binary"], version = "*"}
spacy = "*"
spacy-stanza = "*"
pandas = "*"
ckip-transformers = "*"
tqdm = "*"
sentence-transformers = "*"
ipywidgets = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
label-studio = "*"
spacy-streamlit = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
